# -----------------------------
# Python
# -----------------------------
__pycache__/
*.py[cod]
*$py.class

# -----------------------------
# Virtual Environments
# -----------------------------
venv/
env/
.venv/
venc/

# -----------------------------
# Django
# -----------------------------
db.sqlite3
*.sqlite3

# -----------------------------
# Static Files
# -----------------------------
staticfiles/

# -----------------------------
# Logs
# -----------------------------
*.log

# -----------------------------
# Environment Variables
# -----------------------------
.env

# -----------------------------
# macOS
# -----------------------------
.DS_Store

# -----------------------------
# VS Code
# -----------------------------
.vscode/

# -----------------------------
# PyCharm
# -----------------------------
.idea/

# -----------------------------
# Terraform
# -----------------------------
.terraform/
terraform.tfstate
terraform.tfstate.backup

# -----------------------------
# Kubernetes Secrets
# -----------------------------
*.secret.yaml

# -----------------------------
# Python Cache
# -----------------------------
.pytest_cache/

# -----------------------------
# Docker
# -----------------------------
*.pid